/* Reset and global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header input {
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

main {
    display: flex;
    flex: 1;
    margin: 10px;
}

aside#user-list {
    width: 20%;
    background-color: #f9f9f9;
    padding: 10px;
    border-right: 1px solid #ddd;
}

#user-list ul {
    list-style: none;
    margin-top: 10px;
    background-color: darkslategray;
}

#user-list li {
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    background-color: lightslategray;
}

#posts-container {
    flex: 1;
    padding: 10px;
}

.post {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: darkslategrey
    color: white;
}

.post h3 {
    margin-bottom: 5px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}
